@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    --noto-sans: Noto Sans;
    --paragraph-size: 16px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --bg: linear-gradient(180deg, #040918 0%, #091540 100%);

}

.light {
    --bg: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --neutral-900: hsl(0, 0%, 100%);
    --neutral-800: hsl(210, 14%, 84%);
    --neutral-700: hsl(0, 0%, 100%);
    --neutral-300: hsl(226, 11%, 37%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(227, 75%, 14%);
    --neutral-0: hsl(227, 75%, 14%);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    background: var(--bg);
}

body::-webkit-scrollbar {
    width: 10px;
    background: inherit;
}

.container {
    max-width: 80vw;
    width: 80vw;
    height: 8vh;
    max-height: 8vh;
    border-radius: 10px;
    background-color: var(--neutral-800);
    justify-self: start;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container>svg {
    height: 70%;
    padding-left: 1rem;
}

.container>svg path:nth-child(2n) {
    fill: var(--neutral-100);
}

.toggle {
    height: 70%;
    border-radius: 10px;
    margin-right: 0.5rem;
    aspect-ratio: 1;
    background-color: var(--neutral-700);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: 0.5s ease-in-out;
}

.selection {
    width: 80vw;
    max-width: 80vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.selection h1 {
    color: var(--neutral-0);
    font-family: var(--noto-sans);
    font-weight: var(--font-weight-700);
}

.selection div ol {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.selection button {
    background: transparent;
    color: var(--neutral-100);
    background-color: var(--neutral-700);
    font-family: var(--noto-sans);
    font-weight: var(--font-weight-500);
    padding: 7px 15px;
    border-radius: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}

.selection button:focus,
.delBtn:focus,
.toggle:focus {
    outline: 2px solid var(--red-500);
    outline-offset: 2px;
}
.selection button:hover,
.toggle:hover,
.delBtn:hover {
    background-color: var(--neutral-600);
}

.selection button.onstate {
    color: var(--neutral-900);
    background-color: var(--red-500);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    max-width: 80vw;
    gap: 10px;
}

.boxes {
    background-color: var(--neutral-800);
    width: 100%;
    height: 135px;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.main-grid h1 {
    font-family: var(--noto-sans);
    color: var(--neutral-100);
    font-size: 1.2rem;
}

.thSeperator {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-grid p {
    font-family: var(--noto-sans);
    color: var(--neutral-300);
    font-size: 0.7rem;
    font-weight: var(--font-weight-400);
}

.imgs {
    height: 3rem;
}

.delBtn {
    color: var(--neutral-0);
    font-family: 0.6rem;
    font-weight: var(--font-weight-400);
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    padding: 8px 10px;
    border-radius: 24px;
    transition: 0.5s ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--red-500);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--red-500);
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 375px) {
    body {
        gap: 5vh;
    }

    .selection {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .main-grid {
        grid-template-columns: 1fr;
        gap: 13px;
    }
}